<div class="random-beer">
	{{#if beer.image_url}}
  <img id="random-beer-picture" src='{{beer.image_url}}' alt='{{beer.name}} bottle' />
	{{/if}}
  <h2>{{beer.name}}</h2>
  <p>{{beer.tagline}}</p>
  <p>{{beer.description}}</p>
  <h3>Food pairing:</h3>
  <ul>
    {{#each beer.food_pairing}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
	<p><em>Brewer's tips:</em>{{beer.brewers_tips}}</p>

</div>
